body {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #2c3e50;
  padding: 50px 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

#seccion1 {
  background-color: #18bc9c;
  padding: 70px;
  text-align: center;
  color: white;
}

#seccion1 div h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: bold;
}

#star_line {
  margin-top: -46px;
  text-align: center;
}

#seccion1 div p {
  font-size: 1.75em;
  font-weight: 300;
}

#seccion2 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px;
}

#seccion2 #star_line_blue i {
  color: #2c3e50;
}

#seccion2 #star_line_blue {
  margin: -40px;
}

#seccion2 h2 {
  color: #212529;
}

#seccion2 section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 44px;
/*  outline: 1px solid red; */
  position: relative;
}

#seccion3 h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

#seccion3 {
  padding: 50px;
  background-color: #18bc9c;
  color: white;
}

#seccion3 div .star-line {
  padding: 2px;
  background-color: white;
  width: 22%;
}

#seccion3 #star_line {
  margin-top: -32px;
}

#seccion4 h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #212529
}

#seccion4 #star_line_blue {
  text-align: center;
  margin-top: -33px;
}

.float-left {
  float: left;
  margin: -15px 85px;
}

.float-right {
  float: right;
  margin: -8px 85px;
}

.bold {
  font-weight: bolder;
  font-size: 30px;
}

.bold-less {
  font-weight: bold;
}

.color:hover {
  color: #1f8c5b;
}

.text-uppercase {
  text-transform: uppercase;
}
 .clear {
   clear: both;
 }

.line {
  background-color: white;
  padding: 2.5px;
  display: inline-block;
  width: 103px;
  border: none;
}

.line2 {
  background-color: #2c3e50;
  padding: 2.5px;
  display: inline-block;
  width: 103px;
  border: none;
}

.align {
  padding: 5px 15px 15px 15px;
}
